.checkout {
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__top {
  display: flex;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout h3 {
  font-size: 36px;
  text-align: center;
}
@media (max-width: 800px) {
  .checkout__top {
    display: flex;
    justify-content: center;
  }
  .checkout__ad {
    display: none;
  }
  .checkout__title {
    text-align: center;
  }
}
