.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home h1 {
  margin-left: 25px;
}
.home__row {
  display: flex;
  z-index: 1;
  align-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -250px;
  height: auto;
  top: 60px;

  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@media (max-width: 667px) {
  .home {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }

  .home__row {
    display: flex;
    z-index: 1;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
  }
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;

    height: auto;
    position: fixed;
    top: 60px;
  }
}
