.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  object-fit: contain;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}
.login__top {
  background-color: #1e3c56;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #617688;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  color: #fff;
  border: 1px solid;
  margin-top: 10px;
  border-color: #1e3c56 #1e3c56 #1e3c56;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  background-color: #a5b1bb;
  color: #fff;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #1e3c56 #1e3c56 #1e3c56;
}
