.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  padding: 20px;
  width: 50%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  font-size: 20px;
  text-align: center;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 225px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  border: 1px solid;
  margin-top: 10px;
  background: #617688;
  border-color: #1e3c56 #1e3c56 #1e3c56;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

@media (max-width: 667px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 50px;
    background-color: white;
    z-index: 1;
  }

  .product__rating {
    display: flex;
  }

  .product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }

  .product > button {
    background: #617688;
    border: 1px solid;
    margin-top: 10px;
    border-color: #1e3c56 #1e3c56 #1e3c56;
    color: #fff;
  }

  .product__price {
    margin-top: 5px;
  }

  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }
}
