.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #617688;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  color: #fff;
  border: 1px solid;
  margin-top: 10px;
  border-color: #1e3c56 #1e3c56 #1e3c56;
  height: 50px;
}

@media (max-width: 800px) {
  .subtotal {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: 200px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 3px;
    font-size: 24px;
  }
  .subtotal__container {
    text-align: center;
    margin: 0 auto;
  }
}
